<div class="internal_details">
    <p class="home_title">Detalles</p>

    <table>
        <tbody>
            <tr>
                <td><span style="color: rgb(181, 215, 124);"><i class="fa-solid fa-coins"></i></span> <span>Ventas</span></td>
                <td>{{'usuario.pays' }}</td>     
                <td><i class="fa-regular fa-circle-dot"></i></td>
            </tr>
            <tr>
                <td><span style="color: rgb(255, 165, 52);"><i class="fa-solid fa-sack-dollar"></i></span> <span>Gastos</span></td>
                <td>{{'usuario.bills' }}</td>
                <td><i class="fa-regular fa-circle-dot"></i></td>
            </tr>
            <tr>
                <td><span style="color: var(--primary-color-neutro)"><i class="fa-solid fa-sack-xmark"></i></span> <span>Total</span></td>
                <td>{{'usuario.total' }}</td>
                <td><i class="fa-regular fa-circle-dot"></i></td>
            </tr>          
        </tbody>
    </table>

</div>

<!-- div -->
<!-- <div class="internal_details">
    <app-card-details></app-card-details>
</div> -->