<div class="container">

    <div class="products-header">



        <div class="products-header_pruduct">
            <span><i class="fa-solid fa-right-left icon"></i></span>
            <p>Devoluciones</p>
            <p>Gestion de devoluciones CLIENTE - ALMACÉN</p>
        </div>

    </div>

    <div>
        <div class="product-movements">
            <app-button-click label="Generar devolucion" [buttonMethod]="doSomething"></app-button-click>

            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Código</th>
                            <th>Cantidad</th>
                            <th>Precio venta</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Recibido por</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of (data.data | searchSale:'codigo': search  | paginate: { itemsPerPage: 5, currentPage: p })">
                        <tr>
                            <td>{{data.producto_nombre}} <span *ngIf="data.variante_sku" style="font-size:11px; color:#888;">({{data.variante_sku}})</span></td>
                            <td>{{data.codigo || data.producto_codigo}}</td>
                            <td>{{data.cantidad}}</td>
                            <td>{{data.precio_venta}}</td>
                            <td>{{data.cliente}}</td>
                            <td>{{data.fecha}}</td>
                            <td>{{data.quien_recibe_nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <pagination-controls
            class="my-pagination"
            [directionLinks]="false"
            (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            [maxSize]="5"
            [responsive]="true"
            ></pagination-controls>


        </div>

    </div>

</div>
